*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    
} */

#board{
    border: 4px #666 solid;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    aspect-ratio: 1;
    margin: 0 auto;
    margin-top: 2rem;
}
#options{
    margin: 0 auto;
    width: 40%;
    background-color: rgb(86, 222, 222);
    display: flex;
    justify-content: space-around;
}


.reverse {
    flex-wrap: wrap-reverse !important;
    flex-direction: row-reverse;
}

.tile{
    flex: 1 0 12.5%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

.piece{
    width: 80%;
    height: 80%;
}

.imaginary{
    background-color: transparent;
    width: 1px;
    height: 1px;
}

[data-b_checkable = 'true'] {
    background-color: rgb(246, 117, 117) !important;
}
[data-w_checkable = 'true'] {
    background-color: rgb(117, 164, 246) !important;
}

[data-w_checkable = 'true'][data-b_checkable = 'true'] {
    background-color: rgb(240, 117, 246) !important;
}

.selected{
    background-color: aquamarine !important;
}

.possible{
    background-color: blue !important;
}